* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  color: #000;
  border-collapse: collapse;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  position: relative;
  width: 100%;
}

/* 헤더 */
.header-container {
  position: sticky;
  top: 0;
  height: 168px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
  transition: 0.2s ease-in-out, line-height 0.2s ease-in-out;
  z-index: 1; /* 헤더아래 내용영역 가리기위함 */
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid red;
  padding: 0 50px;
}

/* .header-content {
  width: 100%;
  padding: 0 50px;
  max-width: 1760px; /* 사이트 최대 넓이 
} */

.logo {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: #FF4653;
}

/* 검색 창 */

.search-container {
  position: relative; /* 버튼을 input 안쪽에 배치하기 위해 relative 사용 */
  width: 550px; /* 전체 컨테이너의 너비를 설정 */

  margin: auto;
}

.search {
  width: 550px;
  height: 60px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 40px;
  padding-left: 30px;
  font-size: 15px;
}

.search-button {
  width: 40px;
  height: 40px;
  position: absolute; /* input 내부에 겹치도록 설정 */
  right: 10px; /* input의 오른쪽 끝에서 약간의 여백 */
  top: 50%; /* input의 수직 중앙에 맞추기 위해 설정 */
  transform: translateY(-50%); /* 수직 중앙 정렬을 위한 변환 */
  /*background-color: transparent; 버튼의 배경 투명하게 */
  background-color: #FF4653;
  background-image: url("./images/search.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border: #FF4653;
  border-radius: 100px;
  cursor: pointer; /* 마우스 포인터 변경 */
  font-size: 18px; /* 버튼의 글꼴 크기 */
  color: #333; /* 버튼의 색상 */
  }    

.set {
  width: 90px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 40px;
  margin: auto 0;
  margin-right: 20px;
  padding: 5px;

  display: flex;
  justify-content: space-evenly;
}

.set1 {
  width: 30%;
  height: 90%;
  background-image: url("./images/menu.png");
  background-size: cover;
}

.set2 {
  width: 40%;
  height: 90%;
  background-image: url("./images/user.png");
  background-size: cover;
}

/* 헤더 아래 컨테이너 */
.container-fluid {
  max-width: 1760px; /*사이트 최대 넓이*/
  position: relative;
  padding: 0 50px;
  border: 1px solid black;
}
/* 옵션정렬, 숙소 목록 */
.content {
  width: 100%;
  /* height: 2000px; 임의 설정 : 수정가능 */
  border: 1px solid blue;
  padding-bottom: 200px;
}
/* 스크롤시 검색창 높이 줄임 */
.header-small {
  height: 90px;
}